<div id="mainContainer">
  <main>
    <h1>{{ "addCameraPage.add_camera" | translate }}</h1>
    <form [formGroup]="addCameraForm" (submit)="addCamera()">
      <div>
        <label for="id_ownerUID"></label>
        <input [ngStyle]="(addCameraForm.get('ownerUID')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'none'}"
          [placeholder]="'addCameraPage.ownerUID' | translate" formControlName="ownerUID" type="text" name="id_ownerUID"
          id="id_ownerUID">
      </div>

      <div>
        <label for="id_camera"></label>
        <input [ngStyle]="(addCameraForm.get('id_camera')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'none'}" [placeholder]="'addCameraPage.camera_id' | translate" formControlName="id_camera" type="text"
          name="id_camera" id="id_camera">
      </div>

      <div>
        <label for="localisation"></label>
        <input max="59" [ngStyle]="(addCameraForm.get('localisation')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'none'}"
          [placeholder]="'addCameraPage.location' | translate " formControlName="localisation" type="text"
          name="localisation " id="localisation">
          <p id="errorMsg" *ngIf="addCameraForm.get('localisation')?.hasError('maxlength')">
            {{"addCameraPage.locationMaxCaracterError" | translate}}
          </p>
      </div>
      <div>
        <div class="checkbox-wrapper-5">
          <div class="check">
            <input formControlName="status" type="checkbox" name="status " id="status">
            <label for="status"></label>
          </div>
        </div>
        <p>{{ "addCameraPage.is_active" | translate }}</p>
      </div>
      <div>
        <button [disabled]="!addCameraForm.valid" class="button-33" type="submit" role="button">{{
          "addCameraPage.add_button" | translate }}</button>
        <button (click)="linkUsers()" [disabled]="!addCameraForm.valid" class="button-33" type="button" role="button">{{
          "addCameraPage.link_users" | translate }}</button>
      </div>
    </form>
  </main>
</div>

<ngx-loading [show]="loading" [config]="loadersConfig"
 ></ngx-loading>