<div id="mainContainer">
  <div id="cornerWhiteDiv"></div>
  <nav>
    <a href="#"><img src="../../assets/icons/add-photo.svg" alt="add photo icon"></a>
    <a routerLink="/"><img src="../../assets/icons/home.svg" alt="home icon"></a>
  </nav>
  <main>
    <h1>{{ "addCameraPage.add_camera" | translate }}</h1>
    <form [formGroup]="addCameraForm">
      <div>
        <label for="id_camera"></label>
        <input [ngStyle]="(addCameraForm.get('id_camera')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'none'}" [placeholder]="'addCameraPage.camera_id' | translate" formControlName="id_camera" type="text"
          name="id_camera" id="id_camera">
      </div>

      <div>
        <label for="localisation"></label>
        <input [ngStyle]="(addCameraForm.get('localisation')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'none'}"
          [placeholder]="'addCameraPage.location' | translate " formControlName="localisation" type="text"
          name="localisation " id="localisation">
      </div>

      <div>
        <div class="checkbox-wrapper-5">
          <div class="check">
            <input formControlName="status" type="checkbox" name="status " id="status">
            <label for="status"></label>
          </div>
        </div>
        <p>{{ "addCameraPage.is_active" | translate }}</p>
      </div>
      <div>
        <button [disabled]="!addCameraForm.valid" class="button-33" type="submit" role="button">{{
          "addCameraPage.add_button" | translate }}</button>
        <button (click)="linkUsers()" [disabled]="!addCameraForm.valid" class="button-33" type="button" role="button">{{
          "addCameraPage.link_users" | translate }}</button>
      </div>
    </form>
  </main>
</div>