<div id="OperationResultInf">
  @if (errorMessage) {
  <ngb-alert #selfClosingAlertError type="danger" (closed)="errorMessage = ''">{{ errorMessage }}</ngb-alert>
  }

  @if (successMessage) {
  <ngb-alert #selfClosingAlertSuccess type="success" (closed)="successMessage = ''">{{ successMessage }}</ngb-alert>
  }
</div>

<div id="banniere">
  <img src="../../assets/icons/logo.svg" alt="guardify logo">

  <div class="menuIcon">
    <input #menuCheckbox (click)="openMenu(content,menuCheckbox)" type="checkbox" />
    <svg>
      <use xlink:href="#menu" />
      <use xlink:href="#menu" />
    </svg>
  </div>
  
  <!-- SVG -->
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 56" id="menu">
      <path d="M48.33,45.6H18a14.17,14.17,0,0,1,0-28.34H78.86a17.37,17.37,0,0,1,0,34.74H42.33l-21-21.26L47.75,4" />
    </symbol>
  </svg>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header">
    <button class="menuCloseBtn" type="button" role="button" (click)="offcanvas.dismiss('Cross click')">
      close
    </button>
  </div>
  <div class="offcanvas-body">
    <div>
      <hr>
      <div [ngClass]="{'isActive': isActiveUrl('/')}">
        <a routerLink="/" (click)="offcanvas.dismiss('Cross click')">
          <i class="fa-solid fa-house" style="color: #ffffff;"></i>
        </a>
        <h5 (click)="navigateTo('/');offcanvas.dismiss('Cross click')" #h5Tag>{{"sidebar.home" | translate }}</h5>
      </div>
      <div [ngClass]="{'isActive': isActiveUrl('/add-camera')}">
      <a routerLink="/add-camera" (click)="offcanvas.dismiss('Cross click')"><img src="../../assets/icons/add-photo.svg" alt="icon add photo"></a>
      <h5 (click)="navigateTo('/add-camera');offcanvas.dismiss('Cross click')" #h5Tag>{{"sidebar.add_camera" | translate }}</h5>
      </div>
      <div [ngClass]="{'isActive': isActiveUrl('/camera-list')}">
        <a routerLink="/camera-list" (click)="offcanvas.dismiss('Cross click')"><img src="../../assets/icons/notepad.svg" alt="icon notepad"></a>
        <h5 #h5Tag (click)="navigateTo('/camera-list');offcanvas.dismiss('Cross click')">{{"sidebar.view_cameras" | translate }}</h5>
      </div>
      <div [ngClass]="{'isActive': isActiveUrl('/x')}">
        <a href="" (click)="offcanvas.dismiss('Cross click')"><img src="../../assets/icons/playlist.svg" alt="icon playlist"></a>
        <h5 #h5Tag>{{"sidebar.view_infractions" | translate }}</h5>
      </div>
      <div [ngClass]="{'isActive': isActiveUrl('/x')}">
        <a href="" (click)="offcanvas.dismiss('Cross click')"><img src="../../assets/icons/criteria.svg" alt="icon criteria"></a>
        <h5 #h5Tag>{{"sidebar.suspect_list" | translate }}</h5>
      </div>
      <div [ngClass]="{'isActive': isActiveUrl('/parameter')}">
        <a routerLink="/parameter" (click)="offcanvas.dismiss('Cross click')"><img src="../../assets/icons/adjust.svg" alt="icon parameter"></a>
        <h5 (click)="navigateTo('/parameter');offcanvas.dismiss('Cross click')" #h5Tag>{{"sidebar.settings" | translate }}</h5>
      </div>
    </div>

    <div>
      <button *ngIf="!userUid" (click)="handleLogin()"><img src="../../assets/icons/login.svg" alt="icon login"></button>
      <button *ngIf="userUid" (click)="handleLogoutOrGoToSignIn()"><img src="../../assets/icons/logout.svg"
          alt="icon login"></button>
      <h5 [ngStyle]="(userUid)?{'color':'#5E0B0B'}:{'color':'white'}" (click)="handleLogoutOrGoToSignIn()" #h5Tag> {{
        (userUid)?("sidebar.logout" | translate ):("sidebar.login" | translate) }}</h5>
    </div>
  </div>
</ng-template>
