<main>
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="!isCollasped">
      <h2 ngbAccordionHeader>
        <button (click)="handleAccordionCollapse()" ngbAccordionButton>Paramètre du compte</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="accountParamForm">
              <div class="formInput">
                <label for="firstName" hidden>First name</label>
                <i class="fa-solid fa-user"></i>
                <input maxlength="25" formControlName="firstName" placeholder="Prenom" type="text" name="firstName" id="firstName">
              </div>
              <div class="formInput">
                <label for="lastName" hidden>Last name</label>
                <i class="fa-solid fa-user"></i>
                <input maxlength="25" formControlName="lastName" placeholder="Nom" type="text" name="lastName" id="lastName">
              </div>
              <div class="formInput">
                <label for="tel" hidden>Telephone</label>
                <i class="fa-solid fa-phone"></i>
                <input maxlength="15" formControlName="tel" placeholder="Telephone" type="tel" name="tel" id="tel">
              </div>

              <button class="button-33" type="submit">Sauvegarder</button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="isCollasped">
      <h2 ngbAccordionHeader>
        <button (click)="handleAccordionCollapse()" ngbAccordionButton>Changement de mot de passe</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="changePasswordForm">
              <div class="formInput">
                <label for="currentPassword" hidden>Current password</label>
                <i class="fa-solid fa-lock"></i>
                <input maxlength="20" formControlName="oldPassword" placeholder="Mot de passe actuel" type="password" name="currentPassword" id="currentPassword">
              </div>
              <div class="formInput">
                <label for="newPassword" hidden>New password</label>
                <i class="fa-solid fa-lock"></i>
                <input maxlength="20" formControlName="newPassword" placeholder="Nouveau mot de passe" type="password" name="newPassword" id="newPassword">
              </div>
              <div class="formInput">
                <label for="confirmNewPassword" hidden>Confirm new password</label>
                <i class="fa-solid fa-lock"></i>
                <input maxlength="20" formControlName="confirmPassword" placeholder="Confirmer le mot de passe" type="password" name="confirmNewPassword" id="confirmNewPassword">
              </div>
            
              <button class="button-33" type="submit">Changer</button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</main>