@import "../../mediaQueries";
@import "../../variables";


button:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

// Some mixins
@mixin flexProps1() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* form input style */

p{
  text-align: justify;
  font-size: 12px;
  width: 90%;
  color: $deep-maroon;
  max-width: 306px;
  margin-bottom: 0;
}

.formInput {
  height: 48px;
  min-height: 48px;
  max-width: 306px;
  width: 90%;

  @include mediaMinWidth(1024px) {
    width: min(90%, 390px);
  }

  position: relative;

  i {
    position: absolute;
    left: 18px;
    font-size: 18px;
    top: calc(50% - 9px);
    color: black;
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: 48px;
    border-radius: 30px;
    border: none;
    background-color: $input-background;

    &:focus {
      outline: none;
    }

    &::-ms-reveal {
      display: none;
    }
  }
}


::placeholder {
  color: black;
  opacity: 0.5;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: black;
  opacity: 0.5;
}

.invalid {
  background-color: rgba(139, 0, 0, 0.3) !important;
}

/* form style */

form {
  @include flexProps1();
  row-gap: 20px;

  justify-content: center;
  width: 100%;
  padding-block: 30px;

}

main{
  width: 100vw;
  height: max-content;
  min-height: calc(100vh - 80px);
  background-image: url('../../assets/background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;

  > div{
    width: 98vw;
    max-width: 1000px;

    @include mediaMinWidth($width-homepage-breakpoint) {
      width: 80%;
    }
  
  }
}