<ngx-loading [show]="loading" [config]="loadersConfig"></ngx-loading>

<main>
  <div ngbAccordion [closeOthers]="true">
    <div ngbAccordionItem [collapsed]="!isCollasped">
      <h2 ngbAccordionHeader>
        <button (click)="handleAccordionCollapse()" ngbAccordionButton>{{"params.accountSettings" | translate}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form [formGroup]="accountParamForm" (submit)="updateAccountDetail()">
              <div class="formInput">
                <label for="fullName" hidden>Full name</label>
                <i class="fa-solid fa-user"></i>
                <input maxlength="50" formControlName="fullName" [placeholder]="'params.fullName' | translate" type="text" name="fullName" id="fullName">
              </div>
        
              <div class="formInput">
                <label for="tel" hidden>Telephone</label>
                <i class="fa-solid fa-phone"></i>
                <input maxlength="15" formControlName="tel" [placeholder]="'params.telephone' | translate" type="tel" name="tel" id="tel">
              </div>

              <button class="button-33" type="submit">{{"params.saveButton" | translate}}</button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>

    <div ngbAccordionItem [collapsed]="isCollasped">
      <h2 ngbAccordionHeader>
        <button (click)="handleAccordionCollapse()" ngbAccordionButton>{{"params.passwordChange" | translate }}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <form (submit)="changePassword()" [formGroup]="changePasswordForm">
              <p *ngIf="user!.providerData[0].providerId == 'google.com'" style="font-size:20px;">{{"params.unableToChangePassword" | translate}}</p>
              <div class="formInput">
                <label for="currentPassword" hidden>Current password</label>
                <i class="fa-solid fa-lock"></i>
                <input  [ngClass]="{'invalid' : getFormControl('oldPassword')?.touched && getFormControl('oldPassword')?.invalid}" maxlength="20" formControlName="oldPassword" [placeholder]="'params.currentPassword' | translate " type="password" name="currentPassword" id="currentPassword">
              </div>
              <div class="formInput">
                <label for="newPassword" hidden>New password</label>
                <i class="fa-solid fa-lock"></i>
                <input maxlength="20" formControlName="newPassword" [placeholder]="'params.newPassword' | translate " type="password" name="newPassword" id="newPassword">
              </div>
              <p [hidden]="getFormControl('newPassword')?.valid || (getFormControl('newPassword')?.untouched && getFormControl('newPassword')?.pristine && getFormControl('newPassword')?.invalid)">
                {{"params.passwordRequirements" | translate }}
              </p>
              <div class="formInput">
                <label for="confirmNewPassword" hidden>Confirm new password</label>
                <i class="fa-solid fa-lock"></i>
                <input [ngClass]="{'invalid': changePasswordForm.hasError('passwordNotConfirm') && getFormControl('newPassword')?.valid}" maxlength="20" formControlName="confirmPassword" [placeholder]="'params.confirmNewPassword' | translate " type="password" name="confirmNewPassword" id="confirmNewPassword">
              </div>
            
              <button [disabled]="changePasswordForm.invalid || user!.providerData[0].providerId == 'google.com'" class="button-33" type="submit">{{"params.changeButton" | translate }}</button>
            </form>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</main>