<div class="popupLayer" [ngStyle]="{'display' : (isPopupInfVisible)?'flex':'none'}">
  <div class="popup">
    <div><i (click)="isPopupInfVisible = false;" style="color:#9799FB;" class="fa-solid fa-xmark"></i></div>
    <div>
      <h4>{{"cameraListPage.permissions" | translate}}</h4>
      <ol>
        <li>{{"cameraListPage.modify_camera_details" | translate}}</li>
        <li>{{"cameraListPage.view_camera_feed" | translate}}</li>
        <li>{{"cameraListPage.access_camera_infractions" | translate}}</li>
      </ol>
      <h4>{{"cameraListPage.other" | translate}}</h4>
      <ul>
        <li><img src="../../assets/icons/ownership1.svg" alt="icon ownerchip">{{"cameraListPage.you_are_owner" | translate}}</li>
        <li><img src="../../assets/icons/ownership2.svg" alt="icon ownerchip">{{"cameraListPage.access_granted" | translate}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="popupLayer" [ngStyle]="{'display' : (isPopupRestrictionVisible)?'flex':'none'}">
  <div class="popup">
    <div><i (click)="isPopupRestrictionVisible = false;" style="color:#9799FB;" class="fa-solid fa-xmark"></i></div>
    <div>
      <img class="restrictionImg" src="../../assets/icons/restriction.svg" alt="icon restriction">
      <p>
        Attention : cette caméra est associée à au moins une vidéo d'infraction et ne peut donc pas être supprimée.
      </p>
    </div>
  </div>
</div>

<div id="mainContainer">
  <nav #getEltHeight>
    <div>
      <img style="cursor: pointer;" (click)="isPopupInfVisible=true;" src="../../assets/icons/info (1).svg" alt="info icon">
    </div>
  </nav>
  <main>
    <h1 #getEltHeight>{{"cameraListPage.camera_list" | translate}}</h1>
    <div #getEltHeight>
      <input [placeholder]="'cameraListPage.location_filter' | translate" type="search" name="localisation" id="localisation">
      <button type="button"><i style="color:white;" class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div #getEltHeight>
        <ng-multiselect-dropdown 
            [placeholder]="'cameraListPage.status' | translate" 
            [settings]="dropdownSettings2" 
            [data]="dropdownListStatus"
            [(ngModel)] ="selectedItemsStatus" 
            (onSelect)="onItemSelectStatus($event)" 
            (onSelectAll)="onSelectAllStatus($event)">
        </ng-multiselect-dropdown>
        
        <ng-multiselect-dropdown 
            [placeholder]="'cameraListPage.permissions' | translate" 
            [settings]="dropdownSettingsPermissions" 
            [data]="dropdownListPermissions"
            [(ngModel)] ="selectedItemsPermissions" 
            (onSelect)="onItemSelectPermissions($event)" 
            (onSelectAll)="onSelectAllPermissions($event)">
      </ng-multiselect-dropdown>
    </div>
    <div [ngStyle]="(cameraData.length > 0)?{'display': 'none'}:{'display': 'flex'}" id="noData">
      <img src="../../assets/icons/10189052.svg" alt="icon representing no data found" #noData>
    </div>
    <div [ngStyle]="(cameraData.length == 0)?{'display': 'none'}:{'display': 'grid'}" id="cameraList" #cameraList>

      <div *ngFor="let item of items" class="cameraCard">
        <div [ngStyle]="(item.status)?{'background-color':'green'}:{'background-color':'red'}">
          <div>
            <img [ngStyle]="(item.isOwner)?{'width': '73px','height': '90px'}:{'width': '70px','height': '70px','margin-top': '10px'}" [src]="(item.isOwner)?'../../assets/icons/ownership1.svg':'../../assets/icons/ownership2.svg'" alt="icon ownership">
          </div>
        </div>

        <div class="optionOnHover">
          <button (click)="navigateToCameraStream()" [disabled]="(item.permissions.includes(2))?false:true" type="button" role="button">
            <img [ngStyle]="(item.permissions.includes(2))?{'opacity':1,'cursor':'pointer'}:{'opacity':0.5,'cursor':'not-allowed'}"
              src="../../assets/icons/media.svg" alt="media icon">
          </button>
          
          <button (click)="deleteCamera()" type="button" role="button">
            <img src="../../assets/icons/bin.svg" alt="trash icon">
          </button>
          <button routerLink="/camera-parameter" type="button" role="button">
            <img src="../../assets/icons/adjust1.svg" alt="param icon">
          </button>
        </div>

        <div> 
          <p>
            {{"cameraListPage.camera_id" | translate}} : {{ item.id_camera }} <br>
            {{"cameraListPage.location" | translate}} : {{ item.location }} <br>
            {{"cameraListPage.permissions_code" | translate}} {{ item.permissions }}
          </p>
        </div>
      </div>
    </div>
    <div [ngStyle]="(cameraData.length == 0)?{'display': 'none'}:{'display': 'block'}" style="width: 100%;">
      <ngb-pagination [collectionSize]="fakeData.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"
        [maxSize]="2" aria-label="Pagination" class="mt-3 d-flex justify-content-center"
        (pageChange)="loadPageData($event)"
        >
      </ngb-pagination>
    </div>
    
  </main>
</div>
