@import "../../variables";
@import "../../mediaQueries";

#mainContainer {
  background-image: url('../../assets/Sprinkle.svg');
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include mediaMinWidth($width-cameraListPage-breakpoint2){
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  > a:first-child{
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      display: none;
    }
  }

  img {
    width: 50px;
    height: 50px;
    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 70px;
      height: 70px;
    }
  }

  div {
    display: flex;
    column-gap: 10px;
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      column-gap: 20px;
    }
  }
}

main {
  margin-top: 10px;

  @include mediaMinWidth($width-cameraListPage-breakpoint2){
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: white;
    text-align: center;
  }

  >div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 95vw;
    margin : 20px auto 0;
    @include mediaMinWidth($width-cameraListPage-breakpoint){
      justify-content: flex-start;
      margin-block: 25px;
    }

    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 810px;
    }
    @include mediaMinWidth($width-cameraListPage-breakpoint3) {
      width: 1220px;
    }

    button {
      width: 40px;
      color: $secondary-background;
      border: none;
    }

    input {
      padding: 5px;
      width: calc(95vw - 40px);
      max-width: calc(315px - 40px);
      border: none;
    }

    input:focus {
      outline: none;
    }
  }

  >div:nth-child(3) {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 95vw;
    margin: 20px auto;

    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      display: grid;
      grid-template-columns: repeat(2,315px);
      column-gap: 20px;
      width: 810px;
    }
    @include mediaMinWidth($width-cameraListPage-breakpoint3) {
      width: 1220px;
    }
  }

}

#cameraList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: 25px auto;
  width: 95vw;
  max-width: 1242px;
  @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      gap: 10px;
      justify-content: center;
      width: 100vw;
      padding-inline: 5px;
  }

  @include mediaMinWidth($width-cameraListPage-breakpoint3){
    padding-inline: 10px;
  }

  // Card for camera

  .cameraCard {
    position: relative;
    height: 100px;
    width: 95vw;
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      margin: 0;
      max-width: 400px;
    }
    margin-inline: auto;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    background-color: $primary-background;


    >div:first-child {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 110px;
      clip-path: polygon(0 0, 57% 0, 100% 100%, 0% 100%);
      border-radius: 3px 0 0 3px;

      div {
        height: 90px;
        width: 100px;
        background-color: white;
        clip-path: polygon(0 0, 54% 0, 97% 100%, 0% 100%);
      }
    }

    >div:last-child {
      height: 100%;
      width: calc(100% - 63px);
      margin-left: 63px;
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 47px 100%);

      p {
        padding-left: 50px;
        padding-top: 5px;
      }
    }
  }
}