@import "../../variables";
@import "../../mediaQueries";

#mainContainer {
  background-image: url('../../assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

#cornerWhiteDiv{
  background-color: $secondary-background;
}

::ng-deep .page-item.active .page-link{
  background-color: $secondary-background!important;
  border-color: $secondary-background!important;
  color: white!important;
}

::ng-deep .page-link{
  color : $accent!important;
}

#popupLayer{
  position: absolute;
  width: 100vw;
  z-index: 100;
  height: 100vh;
  display: flex;
  background-color: rgba(151, 153, 251,0.6);

  #popup{
    max-width: 450px;
    width: 90vw;
    height: max-content;
    padding-inline: 10px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    ul{
      list-style: none;
      padding: 17px;
      max-width: max-content;
      width: 95%;
      margin-inline: auto;

      li{
        display: flex;
        align-items: center;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    ol{
      padding: 17px;
      list-style-position: inside;
      max-width: max-content;
      width: 95%;
      margin-inline: auto;

      li{
        line-height: 35px;
        font-weight: bold;
        font-size: 18px;
      }
    }

    div:first-child{
      height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i{
        color: #1899D6;
        font-size: 25px;
        cursor: pointer;
      }
    }

    h4{
      text-align: center;
    }

    img{
      width: 40px;
      height: 35px;
      margin-right: 10px;
    }
  }
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include mediaMinWidth($width-cameraListPage-breakpoint2){
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  > a:first-child{
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      display: none;
    }
  }

  img {
    width: 50px;
    height: 50px;
    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 70px;
      height: 70px;
    }
  }

  div {
    display: flex;
    column-gap: 10px;
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      column-gap: 20px;
    }
  }
}

main {
  margin-top: 10px;

  @include mediaMinWidth($width-cameraListPage-breakpoint2){
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: $accent;
    text-align: center;
  }

  >div:nth-child(2) {
    display: flex;
    justify-content: center;
    width: 95vw;
    margin : 20px auto 0;
    @include mediaMinWidth($width-cameraListPage-breakpoint){
      justify-content: flex-start;
      margin-block: 25px;
    }

    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 810px;
    }
    @include mediaMinWidth($width-cameraListPage-breakpoint3) {
      width: 1220px;
    }

    button {
      width: 40px;
      background-color: $secondary-background;
      border: none;
    }

    input {
      padding: 5px;
      width: calc(95vw - 40px);
      max-width: calc(315px - 40px);
      border: none;
    }

    input:focus {
      outline: none;
    }
  }

  >div:nth-child(3) {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 95vw;
    margin: 20px auto;

    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      display: grid;
      grid-template-columns: repeat(2,315px);
      column-gap: 20px;
      width: 810px;
    }
    @include mediaMinWidth($width-cameraListPage-breakpoint3) {
      width: 1220px;
    }
  }

}

#cameraList {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin: 25px auto;
  width: 95vw;
  max-width: 1242px;
  @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      gap: 10px;
      justify-content: center;
      width: 100vw;
      padding-inline: 5px;
  }

  @include mediaMinWidth($width-cameraListPage-breakpoint3){
    padding-inline: 10px;
  }

  // Card for camera

  .cameraCard {
    position: relative;
    height: 100px;
    width: 95vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      margin: 0;
      max-width: 400px;
    }
    margin-inline: auto;
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    background-color: $secondary-background;


    >div:first-child {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 110px;
      clip-path: polygon(0 0, 57% 0, 100% 100%, 0% 100%);
      border-radius: 3px 0 0 3px;

      div {
        height: 90px;
        width: 100px;
        background-color: white;
        clip-path: polygon(0 0, 54% 0, 97% 100%, 0% 100%);
      }
    }

    >div:last-child {
      height: 100%;
      width: calc(100% - 63px);
      margin-left: 63px;
      clip-path: polygon(0% 0%, 100% 0, 100% 100%, 47px 100%);

      p {
        padding-left: 50px;
        padding-top: 5px;
        color: white;
      }
    }
  }
}