<div id="mainContainer">
  <div id="cornerWhiteDiv"></div>
  <nav>
    <a href="#"><img src="../../assets/icons/notepad.png" alt="notepad icon"></a>
    <div>
      <a href="#"><img src="../../assets/icons/info (1).png" alt="info icon"></a>
      <a href="#"><img src="../../assets/icons/home.png" alt="home icon"></a>
    </div>
  </nav>
  <main>
    <h1>Liste des caméras</h1>
    <div>
      <input placeholder="Filtrer par localisation" type="search" name="localisation" id="localisation">
      <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div>
        <ng-multiselect-dropdown 
            [placeholder]="'Statut'" 
            [settings]="dropdownSettings2" 
            [data]="dropdownListStatus"
            [(ngModel)] ="selectedItemsStatus" 
            (onSelect)="onItemSelectStatus($event)" 
            (onSelectAll)="onSelectAllStatus($event)">
        </ng-multiselect-dropdown>
        
        <ng-multiselect-dropdown 
            [placeholder]="'Permissions'" 
            [settings]="dropdownSettingsPermissions" 
            [data]="dropdownListPermissions"
            [(ngModel)] ="selectedItemsPermissions" 
            (onSelect)="onItemSelectPermissions($event)" 
            (onSelectAll)="onSelectAllPermissions($event)">
      </ng-multiselect-dropdown>
    </div>

    <div id="cameraList">
      <div class="card">
    
      </div>
    </div>

    
  </main>
</div>
