
<div class="popupLayer" [ngStyle]="{'display' : (isPopupInfVisible)?'flex':'none'}">
  <div class="popup">
    <div><i (click)="isPopupInfVisible = false;" style="color:#9799FB;" class="fa-solid fa-xmark"></i></div>
    <div>
      <h4>{{"popup.confirmDeletion" | translate }}</h4>
      <p>{{"popup.warning" | translate }}</p>
      <div>
        <button type="button" (click)="isPopupInfVisible=false"><i class="fa-solid fa-xmark"></i></button>
        <button><i class="fa-solid fa-check"></i></button>
      </div>
    </div>
  </div>
</div>

<main>
  <div>
    <div ngbAccordion [closeOthers]="true">
      <div ngbAccordionItem [collapsed]="!isCollasped">
        <h2 ngbAccordionHeader>
          <button (click)="handleAccordionCollapse()" ngbAccordionButton>{{"cameraParams.title1" | translate }}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <form [formGroup]="cameraParamForm">
                <div>
                  <label for="id_camera"></label>
                  <input
                    [ngStyle]="(cameraParamForm.get('id_camera')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'1px solid black'}"
                    [placeholder]="'addCameraPage.camera_id' | translate" formControlName="id_camera" type="text"
                    name="id_camera" id="id_camera">
                </div>
    
                <div>
                  <label for="localisation"></label>
                  <input max="59"
                    [ngStyle]="(cameraParamForm.get('localisation')?.invalid)?{'background-color':'rgb(255,204,203)'}:{'border':'1px solid black'}"
                    [placeholder]="'addCameraPage.location' | translate " formControlName="localisation" type="text"
                    name="localisation " id="localisation">
                  <p id="errorMsg" *ngIf="cameraParamForm.get('localisation')?.hasError('maxlength')">
                    {{"addCameraPage.locationMaxCaracterError" | translate}}
                  </p>
                </div>
                <div>
                  <div class="checkbox-wrapper-5">
                    <div class="check">
                      <input formControlName="status" type="checkbox" name="status " id="status">
                      <label for="status"></label>
                    </div>
                  </div>
                  <p>{{ "addCameraPage.is_active" | translate }}</p>
                </div>
                <div>
                  <button class="button-33" role="button" type="button" (click)="previousWindows()">{{"accessManagement.buttons.back" | translate }}</button>
                  <button [disabled]="!cameraParamForm.valid" class="button-33" type="submit" role="button">{{
                    "params.saveButton" | translate }}</button>
                </div>
              </form>
            </ng-template>
          </div>
        </div>
      </div>
    
      <div ngbAccordionItem [collapsed]="isCollasped">
        <h2 ngbAccordionHeader>
          <button (click)="handleAccordionCollapse()" ngbAccordionButton>{{"cameraParams.title2" | translate}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div id="adminCardContainer">
                <ng-container *ngFor="let admin of adminList">
                  <div class="adminCard">
                    <p>
                      {{"params.firstName" | translate }} : {{ admin.firstName }} <br>
                      {{"params.lastName" | translate }} : {{ admin.lastName }} <br>
                      {{"home.fourthSection.form.emailLabel" | translate}} : {{ admin.email }} <br>
                      {{"accessManagement.permissions" | translate}} : {{ admin.permissions }}
                    </p>
                  
                    <div>
                      <label class="flipBox" aria-label="Checkbox 1">
                        <input type="checkbox" />
                        <span></span>
                        <div class="flipBox_boxOuter">
                          <div class="flipBox_box">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                          </div>
                        </div>
                        <div class="flipBox_shadow"></div>
                      </label>
                    </div>
                  </div>
                </ng-container>
              </div>
              <div id="actionBtnsDiv">
                <button class="button-33" role="button" type="button" (click)="previousWindows()"><i class="fa-solid fa-arrow-left" style="color: white;"></i></button>
                <button (click)="isPopupInfVisible=true" class="suppBtn" type="button"><i style="color: white;" class="fa-solid fa-trash"></i></button>
                <button routerLink="/authories-user" type="button"><i style="color: white;" class="fa-solid fa-plus"></i></button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>