@import "../../variables";
@import "../../mediaQueries";

*:not(:empty) {
  transform-style: preserve-3d;
}

.accordion-body{
  padding: 20px 0px;

  @include mediaMinWidth($width-cameraListPage-breakpoint){
    padding: 20px 5px;
  }

}

// Popup layer
.popupLayer {
  position: absolute;
  width: 100vw;
  z-index: 200;
  height: calc(100vh - 80px);
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);

  .popup {
    max-width: 450px;
    width: 90vw;
    height: max-content;
    padding-inline: 10px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


    div:first-child {
      height: 40px;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      i {
        color: #1899D6;
        font-size: 25px;
        cursor: pointer;
      }
    }

    > div:last-child div{
      display: flex;
      justify-content: flex-end;
      padding: 20px;
      column-gap: 10px;

      button{
        height: 38px;
        width: 38px;
        border-radius: 20px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child{
          background-color: #000F60;
        }

        &:last-child{
          background-color: red;
        }

        i{
          color: white;
        }
      }
    }

    h4{
      font-size: 20px;
      text-align: center;
    }

    p{
      margin-top: 30px;
      text-align: center;
      font-weight: bold;
      color: red;
    }

  }
}

main {
  height: calc(100vh - 80px);
  min-height: max-content;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../assets/background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  #actionBtnsDiv{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;

      button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38px;
        width: 38px;
        border-radius: 20px;
        border: none;

        &:nth-child(2){
          background-color: red;
        }

        &:last-child{
          background-color: green;
        }
      }

  }

  > div{
    width: 98vw;
    max-width: 1200px;
    margin: auto;
  }

  h1 {
    color: $accent;
    text-align: center;
  }

  form {
    width: max-content;
    margin-inline: auto;
    margin-top: 50px;

    p {
      color: black;
      font-size: 24px;
      margin-top: 10px;
    }

    input[type="text"] {
      width: min(500px, 90vw);
      height: 56px;
      border: none;
      border-radius: 8px;
      margin-bottom: 20px;
      padding-inline: 20px;
      font-size: 24px;
      font-weight: 400;

      &:focus {
        outline: none;
      }
    }

    >div:nth-child(3) {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-top: 20px;
    }

    >div:last-child {
      display: flex;
      column-gap: 10px;
      margin-top: 40px;
    }
  }

  .button-33:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  #adminCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    justify-content: center;
    height: 490px;
    overflow-y: auto;
    gap: 20px;
  }

  .adminCard{
  
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: 150px;
    padding: 15px;
    border: 1px dashed $secondary-background;

    div{
      display: flex;
      align-items: center;

      .checkboxes {
          width: 100%;
          max-width: 180px;
          scale: 3;
        }
      
        .flipBox {
          position: relative;
          display: block;
          text-align: left;
          margin: 1em auto;
          cursor: pointer;
      
          $clr1: red;
          $clr2: rgb(251, 206, 206);
      
          &:active>&_boxOuter {
            height: 25%;
          }
      
          & span {
            padding-left: 1em;
          }
      
          &>input {
            appearance: none;
            position: fixed;
            left: -100vmax;
            top: -100vmax;
      
            &:checked {
              &~.flipBox_boxOuter {
                animation: flipBox1 1s forwards linear;
      
                .flipBox_box {
                  animation: flipBox2 1s forwards ease-in-out;
                }
              }
      
              &~.flipBox_shadow {
                animation: flipBox3 1s forwards ease-in-out;
              }
            }
      
            &:not(:checked) {
              &~.flipBox_boxOuter {
                animation: flipBox4 1s forwards linear;
      
                .flipBox_box {
                  animation: flipBox5 1s forwards ease-in-out;
                }
              }
      
              &~.flipBox_shadow {
                animation: flipBox6 1s forwards ease-in-out;
              }
            }
      
            &:disabled {
              &~* {
                cursor: not-allowed;
              }
      
              &~.flipBox_boxOuter {
                height: 0%;
      
                .flipBox_box>div:nth-child(6) {
                  background-color: #ccc;
                }
      
                .flipBox_box>div:nth-child(-n + 5),
                &~.flipBox_shadow {
                  display: none;
                }
              }
            }
      
            &:focus-visible {
              &~span {
                outline: 1px #000 solid;
                outline-offset: 0.25em;
              }
            }
          }
      
          &_boxOuter {
            position: absolute;
            left: 0;
            top: 50%;
            width: 1em;
            height: 1em;
            transform-origin: top;
            transition: height 0.25s;
          }
      
          &_box {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 1em;
            height: 100%;
            transform: translate(-50%, -50%);
      
            &>div {
              position: absolute;
              width: 1em;
              box-shadow: 0 0 0.25em rgba(212, 147, 147, 0.467) inset;
      
              @for $i from 0 to 4 {
                &:nth-child(#{$i + 1}) {
                  background-image: linear-gradient($clr1, $clr2);
                  transform: rotateY(#{$i * 90}deg) translateX(50%) rotateY(90deg);
                  height: 100%;
                }
              }
      
              &:nth-child(5) {
                background-color: $clr1;
                transform: rotateX(90deg) translateY(-0.5em);
                transform-origin: top;
                height: 1em;
      
                &::after {
                  content: '';
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: $clr2;
                  clip-path: polygon(12.5% 56.25%, 25% 43.75%, 37.5% 56.25%, 75% 18.75%, 87.5% 31.25%, 37.5% 81.25%, 12.5% 56.25%);
                }
              }
      
              &:nth-child(6) {
                bottom: 0;
                background-color: $clr2;
                transform: rotateX(90deg) translateY(0.5em);
                transform-origin: bottom;
                height: 1em;
              }
            }
          }
      
          &_shadow {
            position: absolute;
            left: 0;
            top: 50%;
            width: 1em;
            height: 1em;
            transform: translateY(-50%) translateZ(-1px);
            background-color: #0007;
            filter: blur(0.2em);
          }
      
          @keyframes flipBox1 {
      
            0%,
            100% {
              transform: rotateX(90deg);
              animation-timing-function: ease-out;
            }
      
            50% {
              transform: rotateX(90deg) translateY(2em);
              animation-timing-function: ease-in;
            }
          }
      
          @keyframes flipBox2 {
            from {
              transform: translate(-50%, -50%) rotateX(0deg) rotateY(180deg);
            }
      
            to {
              transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
            }
          }
      
          @keyframes flipBox3 {
      
            0%,
            100% {
              transform: translateY(-50%) translateZ(-1px) scale(1);
              animation-timing-function: ease-out;
            }
      
            50% {
              transform: translateY(-50%) translateZ(-1px) scale(1.5);
              animation-timing-function: ease-in;
            }
          }
      
          @keyframes flipBox4 {
      
            0%,
            100% {
              transform: rotateX(90deg);
              animation-timing-function: ease-out;
            }
      
            50% {
              transform: rotateX(90deg) translateY(2em);
              animation-timing-function: ease-in;
            }
          }
      
          @keyframes flipBox5 {
            from {
              transform: translate(-50%, -50%) rotateX(-180deg) rotateY(0deg);
            }
      
            to {
              transform: translate(-50%, -50%) rotateX(-360deg) rotateY(180deg);
            }
          }
      
          @keyframes flipBox6 {
      
            0%,
            100% {
              transform: translateY(-50%) translateZ(-1px) scale(1);
              animation-timing-function: ease-out;
            }
      
            50% {
              transform: translateY(-50%) translateZ(-1px) scale(1.5);
              animation-timing-function: ease-in;
            }
          }
        }
      
        @media (prefers-reduced-motion) {
      
          .flipBox_boxOuter,
          .flipBox_box,
          .flipBox_shadow {
            animation-play-state: paused !important;
          }
      
          .flipBox_boxOuter {
            transition: none;
          }
        }
    }

    p{
      margin: 0;
    }

  }
}