@import "../../variables";
@import "../../mediaQueries";

#mainContainer {
  background-image: url('../../assets/background.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .stream{
    background-color: rebeccapurple;
    width: 90vw;
    height: min(400px,80vh);
    margin-inline: auto;
    border-radius: 10px;
    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      height: 500px;
      width: 800px;
    }
  }
}

#buttons{

  width: 90vw;
  margin-inline: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 800px;
    }

  .recButton{
    border: none;
    background: transparent;
  }

  .retourBtn{
    height: 50px;
  }

  img{
    width: 50px;
    height: 50px;
  }
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: calc(100vh - 80px);
  min-height: max-content;

  h1{
    text-align: center;
    margin: 20px 0 10px;
  }

  p{
    width: 90vw;
    margin-inline: auto;
    margin: 10px auto 20px;
    padding-left: 10px;

    @include mediaMinWidth($width-cameraListPage-breakpoint2){
      width: 800px;
    }
  }
}