@import "../../mediaQueries";
@import "../../variables";

#mainContainer {
  background-image: url('../../assets/Sprinkle.svg');
}

#cornerWhiteDiv {
  top: -55px;
  left: -45px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @include mediaMinWidth($width-cameraListPage-breakpoint2) {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  >a:first-child {
    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      display: none;
    }
  }

  img {
    width: 50px;
    height: 50px;

    @include mediaMinWidth($width-cameraListPage-breakpoint2) {
      width: 70px;
      height: 70px;
    }
  }
}