<main>
  <h1>{{"infractionVideos.title" | translate}}</h1>
  <div>
    <video class="videoFrame" controls></video>

    <div ngbAccordion>
      <div ngbAccordionItem >
        <h2 ngbAccordionHeader>
          <button ngbAccordionButton>{{"infractionVideos.videosAccordion.header" | translate}}</button>
        </h2>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <div id="videosList">
                <div id="noVideoFound">
                  <img src="../../assets/icons/undraw_void_-3-ggu.svg" alt="nothing here">
                </div>
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
                
                <div class="videoItem">
                  <div>
                    <div style="background-color:black;width: 82px;height:50px;"></div>
                    <h6>22 / 08 / 2024 12:11</h6>
                  </div>
                
                  <button type="button" role="button">
                    <img src="../../assets/icons/bin.png" alt="delete icon">
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>

<div>
  <h4>{{"infractionVideos.offenseTypes.title" | translate}}</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">{{"infractionVideos.offenseTypes.table.type" | translate}}</th>
        <th scope="col">{{"infractionVideos.offenseTypes.table.confidence" | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Presence humanine</td>
        <td>98%</td>
      </tr>
      <tr>
        <td>Presence humanine</td>
        <td>98%</td>
      </tr>
    </tbody>
  </table>
</div>
</main>