@import "./variables"; /*me*/

$base-color:$secondary-background; /*me*/
$disable-background-color: #eceeef;

.dropdown-multiselect__caret:before{
  border-color: $accent transparent!important;/*me*/
}

.multiselect-item-checkbox{

  input{
    + div:before{
      border: 2px solid $secondary-background!important;
    }

    &:checked + div:before{
      background-color: $secondary-background!important;
    }
  }
}

.selected-item-container{
  margin-right: 10px!important;/*me*/
}

.multiselect-dropdown {
  max-width: 315px !important;
  margin-inline: auto;
  
  .dropdown-btn {
    border: 1px solid $accent!important; /*me*/
    height: 38.45px!important;/*me*/
    .selected-item {
      display: none!important;//
      background: $accent!important;/*me*/
      /*me*/
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      min-width: 115px;
      /*me*/
      
      span,a{
        color: black !important; /*me*/
        font-size: 10px !important;/*me*/
      }
    }

    span {
      color: $accent !important;/*me*/
      font-weight: bold;/*me*/
    }
  }
}
