// Colors variables

$primary-dark-red : #8B0000;
$deep-maroon : #5E0B0B;
$secondary-background : rgb(24, 153, 214);
$primary-background : white;;
$input-background : #DCD5D5;

// Texts size variables

$desktop-h1-text-size : 35px;
$mobile-h1-text-size : 25px;
$mobile-smallHeight-h1-text-size : 18px;
$mobile-h2-text-size : 20px;
$desktop-h2-text-size : 30px;
$mobile-h3-text-size : 18px;
$desktop-h3-text-size : 28px;
$mobile-body-text-size : 16px;
$desktop-body-text-size : 20px;

// Endpoint variables
$height-breakpoints-1 : 762px;
$width-homepage-breakpoint : 600px;