<div id="mainContainer">
  <nav>
    <div>
      <i class="fa-solid fa-chevron-up" style="color:black;"></i>
    </div>
    <hr>
    <div>
      <div>
      <a href=""><img src="../../assets/icons/add-photo.png" alt="icon add photo"></a>
      <a href=""><img src="../../assets/icons/notepad.png" alt="icon notepad"></a>
      <a href=""><img src="../../assets/icons/playlist.png" alt="icon playlist"></a>
      <a href=""><img src="../../assets/icons/criteria.png" alt="icon criteria"></a>
      <a href=""><img src="../../assets/icons/adjust.png" alt="icon parameter"></a>
      </div>
      <div>
        <a href=""><img src="../../assets/icons/login.png" alt="icon login"></a>
      </div>
    </div>
  </nav>
  <main>
    <img src="../../assets/icons/logo.svg" alt="logo guardify">
    <h1>Bienvenue sur Guardify</h1>
    <p>
      La sécurité de votre espace est notre priorité. Grâce à notre système avancé de vidéosurveillance, vous pouvez
      surveiller vos locaux en temps réel, accéder facilement aux enregistrements, et recevoir des alertes instantanées en cas
      d'activité suspecte.
    </p>
    <p>
      Avec Guardify gardez un œil sur ce qui compte, où que vous soyez. Configurez vos caméras, gérez les accès, et
      assurez-vous que chaque instant critique est capturé et sauvegardé.
    </p>
    <p>
      Prenez le contrôle de votre sécurité dès aujourd'hui.
    </p>
  </main>
</div>